/* hero.css */
.Hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f4f4f4;
  padding-bottom: 80px;
  border-bottom: 2px solid #ddd;
  background-image: linear-gradient(rgba(0, 0, 255, 0.4), rgba(0, 0, 255, 0.3)), url("src/assets/slike/home.jpg");
  background-size: cover;
  height: 800px;
}

.Hero h1 {
  font-size: 5rem;
  padding: 20px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 20px;
}

.Hero p {
  padding: 10px;
  padding-bottom: 20px;
  font-size: 1.8rem;
  color: #f0f0f0;
  margin-bottom: 30px;
  max-width: 800px;
}

.SearchBar {
  width: 100%;
  max-width: 600px;
}

.SearchBar input {
  width: 100%;
  padding: 12px 20px;
  font-size: 1rem;
  border-radius: 25px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.SearchBar input:focus {
  outline: none;
  border-color: #4CAF50;
}

/* Responsive styles */

/* Za širine ekrana veće od 1024px */
@media (min-width: 1024px) {
  .Hero {
    height: 900px;
  }

  .Hero h1 {
    font-size: 6rem;
  }

  .Hero p {
    font-size: 2rem;
  }
}

/* Za širine ekrana između 768px i 1023px */
@media (min-width: 768px) and (max-width: 1023px) {
  .Hero {
    height: 700px;
  }

  .Hero h1 {
    font-size: 4rem;
  }

  .Hero p {
    font-size: 1.5rem;
  }
}

/* Za širine ekrana manje od 767px */
@media (max-width: 767px) {
  .Hero {
    height: 500px;
    padding-bottom: 40px;
  }

  .Hero h1 {
    font-size: 3rem;
    padding: 10px;
    margin-bottom: 10px;
  line-height: 1.2;
  }

  .Hero p {
    font-size: 1.2rem;
    padding: 5px;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }

  .SearchBar {
    max-width: 90%;
  }

  .SearchBar input {
    padding: 10px 15px;
    font-size: 0.9rem;
  }
}