.profil-container {
  position: relative;
  min-height: 93vh;
  padding: 20px;
  background-image: linear-gradient(rgba(25, 118, 210, 0.7), rgba(58, 69, 78, 0.5)), url("src/assets/slike/laptop.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
}

  .nazad-dugme {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

  .nazad-dugme:hover {
    background-color: #093f79;
  }


  .profil-naslov {
    position: absolute;
    top: 20px;
    left: 60px;
    font-size: 45px;
    color: white;
    font-weight: bold;
  }

 
  .profil-info {
    margin-top: 100px;
  }

  .profil-slika {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid #ccc;
  }

  .profil-ime {
    margin-top: 10px;
    font-size: 28px;
    font-weight: bold;
    color: white;
  }


  .profil-opis {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    margin-top: 20px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.24);
    padding: 20px;
  }
 
  .kontakt-info {
    margin-top: 20px;
    color: white;
  }

  .kontakt-info p {
    text-align: left;
    margin-left: 510px;
    font-size: 18px;
    font-weight: bold;
  }

  .kontakt-info .kontakt-text {
    color: white;
  }

 
  .dugmad-container {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }

  .dugme {
    padding: 10px 15px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }

  .dugme-poruka {
    background-color: #007bff;
    font-size: 16px;
  }

  .dugme-poruka:hover {
    background-color: #093f79;
  }

  .dugme-pozovi {
    background-color: #007bff;
    font-size: 16px;
  }

  .dugme-pozovi:hover {
    background-color: #093f79;
  }