/* navbar.css */
.NavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #0d47a1;
    font-family: Arial, sans-serif;
  }
  
  .NavBar h1 {
    font-size: 2rem;
    margin: 0;
    margin-left:40px ;
  }
  

  
  .prijava-btn {
    background-color: #23019c;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 20px;
  }
  
  .prijava-btn:hover {
    background-color: #45a049;
  }
  
  .SearchBar input {
    width: 100%;
    padding: 8px;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .SearchBar input:focus {
    outline: none;
    border-color: #4CAF50;
  }
  